@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Reservation System</title>

    @Styles.Render("~/Content/MyCSS")
    @Scripts.Render("~/Scripts/MyJS")
</head>
<body style="background-color: #EFF1DB">

    @*<div class="navbar navbar-inverse navbar-static-top">*@
    <div class="navbar navbar-inverse navbar-static-top" style="display:flex;">

        <div style="justify-content:left,space-around; padding-top:1%">

            @if (Request.IsAuthenticated)
            {
                <strong class="navbar-brand"> @Html.ViewContext.HttpContext.User.Identity.Name</strong>
            }
        </div>

        <div class="container-fluid" style="text-align:center">
            @*<div style="text-align: center">*@
            <h2 style="color: white;">
                RESTAURANT RESERVATION SYSTEM

            </h2>
        </div>
        <div style="justify-content:right,space-around; padding-top:1%">

            @if (Request.IsAuthenticated)
            {
                <a href="@Url.Action("LogOut","User")" class="navbar-brand">Logout</a>

            }
        </div>


    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <br />
            <footer class="footers">
                <p>&copy; @DateTime.Now.Year - Restaurent Reservation Application</p>
            </footer>
        </div>
    </div>
</body>
</html>