@model RestaurentMVC.Models.Booking
    @using BookingClassLibrary.Enum;


<form name="operation_form">
    
                <div class="modal-header">
                    <h1 style="text-align:center;color:black">RESTAURANT RESERVATION SYSTEM</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container" style="background-color:black">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <br />



                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Bookid)
                            <div>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div style="color:antiquewhite">
                                            @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "name" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div style="color:antiquewhite">
                                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div style="color:antiquewhite">
                                            @Html.LabelFor(model => model.TypeOfDining, "Dining", htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            <select class="form-control" name="TypeOfDining" id="TypeOfDining">
                                                <option value="Indoor">Indoor</option>
                                                <option value="Outdoor">Outdoor</option>
                                                <option value="Terrace">Terrace</option>
                                            </select>

                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <div style="color:antiquewhite">
                                            @Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div style="color:antiquewhite">
                                            @Html.LabelFor(model => model.Time, "Time ", htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Time, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div style="color:antiquewhite">
                                            @Html.LabelFor(model => model.Guest, "Guests", htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>    <div class="col-md-10">
                                            @Html.EditorFor(model => model.Guest, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Guest, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />


                                    <br /><br />
                                </div>
                            </div>
                        }

                    </div>
                    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
                    <script src="~/Scripts/jquery.validate.min.js"></script>
                    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="save" class="btn btn-primary" onclick="savechanges()">Save</button>
                    <button type="button" id="edit" class="btn btn-primary" onclick="editchanges()">Edit Details</button>
                    <button type="button" id="save_edit" class="btn btn-primary" onclick="save_editedchanges()">Save changes</button>
                </div>
            

</form>


<script type="text/javascript">
    $(document).ready(function () {

        var operation = '@Model.operations.ToString()';

        if (operation == '@Operations.Create')
        {
            
            $('.form-control').attr('disabled', false);
        }
        if (operation == '@Operations.Edit')
        {

            $('.form-control').attr('disabled', true);
        }
        

    });


    function editchanges() {
        $('.form-control').attr('disabled', false);

        var save = document.getElementById("save");
        save.style.display='none';
        var edit = document.getElementById("edit");
        edit.style.display = 'none';
        var edit = document.getElementById("save_edit");
        edit.style.visibility = 'visible';
        
    }

</script>

