@model BookingClassLibrary.Booking

@{
    ViewBag.Title = "Create";
}

<div class="container" style="background-color:black">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br />
        <h1 style="text-align:center;color:wheat">RESTAURANT RESERVATION SYSTEM</h1>
        <h3 style="text-align: center; color: wheat">New Booking</h3>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="padding-left:30rem">
            <div class="form-horizontal">
                <div class="form-group">
                    <div style="color:antiquewhite">
                        @Html.LabelFor(model => model.Name, "Full Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div style="color:antiquewhite">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div style="color:antiquewhite">
                        @Html.LabelFor(model => model.TypeOfDining, "Dining Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" name="TypeOfDining" id="TypeOfDining">
                            <option value="Indoor">Indoor</option>
                            <option value="Outdoor">Outdoor</option>
                            <option value="Terrace">Terrace</option>
                        </select>

                    </div>

                </div>


                <div class="form-group">
                    <div style="color:antiquewhite">
                        @Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div style="color:antiquewhite">
                        @Html.LabelFor(model => model.Time, "Time ", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Time, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div style="color:antiquewhite">
                        @Html.LabelFor(model => model.Guest, "Guest Number", htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>    <div class="col-md-10">
                        @Html.EditorFor(model => model.Guest, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Guest, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="padding-left:10rem">
                        <input type="submit" value="Book Table" class="btn btn-primary" />
                    </div>
                    <br /><br /><br />
                </div>

                <div style="padding-left:20rem">
                    @Html.ActionLink(" << Go To All Bookings", "Index")
                </div>
                <br /><br />
            </div>
        </div>
    }

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


