@model BookingClassLibrary.Booking

@{
    ViewBag.Title = "View";
}

<div class="container" style="background-color:black">
    <br />
    <h1 style="text-align:center;color:wheat">RESTAURANT RESERVATION SYSTEM</h1>

    
    <div>

        <hr />
        <dl class="dl-horizontal" style="color: antiquewhite; padding-left: 37rem">
            <dt>
                <label>Booking Id</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bookid)
            </dd>

            <br />

            <dt>
                <label>Full Name</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <br />

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <br />

            <dt>
                <label>Dining Type</label>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeOfDining)
            </dd>

            <br />

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <br />

            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <br />

            <dt>
                <label>Guest Number</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guest)
            </dd>

            <br />

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            
            <div style="padding-left: 47rem">
                @Html.ActionLink("<< Go To All Bookings", "Index")
            </div>
            <br /><br />
        }
    </div>

</div>